<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="emp1" class="com.ibm.Employee">  
<constructor-arg value="12" type="int"></constructor-arg>  
<constructor-arg value="Sonoo" type="String"></constructor-arg>
<constructor-arg value="1234567" type="String"></constructor-arg>
 
 
<constructor-arg>  
<ref bean="address"/>  
</constructor-arg>  

</bean>


<bean id="address" class="com.ibm.Address">  
<constructor-arg value="ghaziabad" type="String"></constructor-arg>  
<constructor-arg value="UP" type="String"></constructor-arg>  
<constructor-arg value="India" type="String"></constructor-arg>  
</bean>  
  


</beans>